extends ../layouts/adminCommon
block content
    main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main')
        .col-12.mt-3
            div
                h2 Thông tin chung
            .row
                .bg-primary.col-4.p-0.mr-3.mb-2
                    .text-white.p-1
                        h3= pros
                        p Tổng số sản phẩm
                    .bg-warning
                        a(href='/admin/product')
                            .text-center
                                |   Chi tiết
                .bg-primary.col-4.p-0.mr-3.mb-2
                    .p-1.text-white
                        h3= ads
                        p Tổng số nhân viên
                    .bg-warning
                        a(href='/admin/staff')
                            .text-center
                                |   Chi tiết
                .bg-primary.col-4.p-0.mr-3.mb-2
                    .text-white.p-1
                        h3= trans
                        p Tổng số đơn hàng
                    .bg-warning
                        a(href='/admin/invoice')
                            .text-center
                                | Chi tiết
                .bg-primary.col-4.p-0.mr-3.mb-2
                    .text-white.p-1
                        h3= us
                        p Tổng số khách hàng
                    .bg-warning
                        a(href='/admin/user')
                            .text-center
                                |   Chi tiết
