html
    head
        meta(charset='UTF-8')
        title common
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no', name='viewport')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.0/css/all.css', integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ', crossorigin='anonymous')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200&display=swap')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        style.
            body {
                font-size: .875rem;
            }
            .feather {
                width: 16px;
                height: 16px;
                vertical-align: text-bottom;
            }
            /*
            * Sidebar
            */
            .sidebar {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                z-index: 100; /* Behind the navbar */
                padding: 48px 0 0; /* Height of navbar */
                box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
            }
            .sidebar-sticky {
                position: relative;
                top: 0;
                height: calc(100vh - 48px);
                padding-top: .5rem;
                overflow-x: hidden;
                overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
                /*background: linear-gradient(rgba(88,130,250,0.5), rgba(49,4,180,0.5)), url(https://i.imgur.com/zfvF5UR.jpg);*/
            }
            @supports ((position: -webkit-sticky) or (position: sticky)) {
                .sidebar-sticky {
                    position: -webkit-sticky;
                    position: sticky;
                }
            }
            .sidebar .nav-link {
                font-weight: 500;
                color: #333;
            }
            .sidebar .nav-link .feather {
                margin-right: 4px;
                color: #999;
            }
            .sidebar .nav-link.active {
                color: #007bff;
            }
            .sidebar .nav-link:hover .feather,
            .sidebar .nav-link.active .feather {
                color: inherit;
            }
            .sidebar-heading {
                font-size: .75rem;
                text-transform: uppercase;
            }
            /*
            * Content
            */
            [role="main"] {
                padding-top: 48px; /* Space for fixed navbar */
            }
            /*
            * Navbar
            */
            .navbar-brand {
                padding-top: .75rem;
                padding-bottom: .75rem;
                font-size: 1rem;
                background-color: rgba(0, 0, 0, .25);
                box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
            }
            .navbar .form-control {
                padding: .75rem 1rem;
                border-width: 0;
                border-radius: 0;
            }
            .form-control-dark {
                color: #fff;
                background-color: rgba(255, 255, 255, .1);
                border-color: rgba(255, 255, 255, .1);
            }
            .form-control-dark:focus {
                border-color: transparent;
                box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
            }
            .dropdown-menu {
                background-color: #353942;
            }
            .dropdown-item {
                color: white;
            }
            .dropdown-item:hover {
                background-color: #353942;
            }
    nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-0.shadow
        a.navbar-brand.col-sm-3.col-md-2.d-flex.justify-content-center(href='#') Bee Fashion
        .dropdown.mr-5.px-lg-5
            button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | UK
            .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuButton')
                a.dropdown-item(href='#')
                    span.fas.fa-user-edit.mr-1
                    | Th&ocirc;ng tin c&aacute; nh&acirc;n
                a.dropdown-item(href='#')
                    span.fa.fa-sign-out.mr-2
                    | &Dstrok;&abreve;ng xu&#x1EA5;t
    .container-fluid
        .row
            nav.col-md-2.d-none.d-md-block.bg-light.sidebar
                .sidebar-sticky
                    ul.nav.flex-column
                        li
                            a.nav-link.active.h6
                                svg.feather.feather-home(xmlns='http://www.w3.org/2000/svg', width='16', height='16', viewbox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                                    path(d='M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z')
                                    polyline(points='9 22 9 12 15 12 15 22')
                                |                                 B&#x1EA3;ng &dstrok;i&#x1EC1;u khi&#x1EC3;n
                                span.sr-only (current)
                        li
                            a.nav-link.h6(href='#')
                                svg.feather.feather-file(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewbox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                                    path(d='M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z')
                                    polyline(points='13 2 13 9 20 9')
                                |                                 &Dstrok;&#x1A1;n &dstrok;&#x1EB7;t h&agrave;ng
                        li
                            a.nav-link.h6(href='#')
                                svg.feather.feather-shopping-cart(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewbox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                                    circle(cx='9', cy='21', r='1')
                                    circle(cx='20', cy='21', r='1')
                                    path(d='M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6')
                                |                                 S&#x1EA3;n ph&#x1EA9;m
                        li
                            a.nav-link.h6(href='#')
                                svg.feather.feather-users(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewbox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                                    path(d='M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2')
                                    circle(cx='9', cy='7', r='4')
                                    path(d='M23 21v-2a4 4 0 0 0-3-3.87')
                                    path(d='M16 3.13a4 4 0 0 1 0 7.75')
                                |                                 Kh&aacute;ch h&agrave;ng
                        li
                            a.nav-link.h6(href='#')
                                svg.feather.feather-bar-chart-2(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewbox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                                    line(x1='18', y1='20', x2='18', y2='10')
                                    line(x1='12', y1='20', x2='12', y2='4')
                                    line(x1='6', y1='20', x2='6', y2='14')
                                |                                 B&aacute;o c&aacute;o
            main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main')
                h2.mt-3.mb-3
                    | T&agrave;i kho&#x1EA3;n nh&acirc;n vi&ecirc;n
                    button.btn.btn-primary.ml-3 T&#x1EA1;o t&agrave;i kho&#x1EA3;n
                .table-responsive
                    table.table.table-hover.table-sm
                        tr
                            th STT
                            th T&agrave;i kho&#x1EA3;n
                            th H&#x1ECD; v&agrave; t&ecirc;n
                            th &Dstrok;&#x1ECB;a ch&#x1EC9;
                            th Ghi ch&uacute;
                            th H&agrave;nh &dstrok;&#x1ED9;ng
                        tr
                            td 1
                            td UK
                            td Ph&#x1EA1;m Ch&iacute;nh
                            td TP.H&#x1ED3; Ch&iacute; Minh
                            td Admin
                            td
                                button.btn.btn-info.btn-sm S&#x1EED;a
                                button.btn.btn-danger.btn-sm X&oacute;a
                        tr
                            td 2
                            td PU
                            td Ph&#x1B0;&#x1A1;ng Uy&ecirc;n
                            td TP.H&#x1ED3; Ch&iacute; Minh
                            td Staff
                            td
                                button.btn.btn-info.btn-sm S&#x1EED;a
                                button.btn.btn-danger.btn-sm X&oacute;a
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')