extends ../layouts/adminCommon
block content
    main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main')
        h2.mt-3.mb-3
            | Thông tin đặt hàng
        .table-responsive
            table.table.table-hover.table-sm
                tr
                    th STT
                    th Mã ĐH
                    th Họ tên
                    th Địa chỉ
                    th SĐT
                    th Email
                    th Thành tiền
                    th HT thanh toán
                    th Vận chuyển
                    th Ghi chú
                    th Trạng thái
                    th Ngày nhận
                    th Hành động
                tr
                    td 1
                    td MK01
                    td Trần Chính
                    td TP.Hồ Chí Minh
                    td 0352556122
                    td Admin@gmail.com
                    td 900000
                    td Tiền mặt
                    td Chuyển phát nhanh
                    td Không
                    td Đã duyệt
                    td 22/2/2222
                    td
                        button.btn.btn-info.btn-sm +
                        button.btn.btn-danger.btn-sm x
