html
    head
        meta(charset='UTF-8')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.0/css/all.css', integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ', crossorigin='anonymous')
        style.
            body {
                color: #fff;
                background: #353942;
            }
            .form-control {
                min-height: 41px;
                background: #fff;
                box-shadow: none !important;
                border-color: #e3e3e3;
            }
            .form-control:focus {
                border-color: #70c5c0;
            }
            .form-control, .btn {
                border-radius: 15px;
            }
            .login-form {
                width: 350px;
                margin: 0 auto;
                padding: 100px 0 30px;
            }
            .login-form form {
                color: #7a7a7a;
                border-radius: 2px;
                margin-bottom: 15px;
                font-size: 13px;
                background: #ececec;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 30px;
                position: relative;
            }
            .login-form h2 {
                font-size: 22px;
                margin: 35px 0 25px;
            }
            .login-form .avatar {
                position: absolute;
                margin: 0 auto;
                left: 0;
                right: 0;
                top: -50px;
                width: 95px;
                height: 95px;
                border-radius: 50%;
                z-index: 9;
                background: #70c5c0;
                padding: 15px;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
            }
            .login-form .avatar img {
                width: 100%;
            }
            .login-form input[type="checkbox"] {
                margin-top: 2px;
            }
            .login-form .btn {
                font-size: 16px;
                font-weight: bold;
                background: #70c5c0;
                border: none;
                margin-bottom: 20px;
            }
            .login-form .btn:hover, .login-form .btn:focus {
                background: #50b8b3;
                outline: none !important;
            }
            .login-form a {
                color: #fff;
                text-decoration: underline;
            }
            .login-form a:hover {
                text-decoration: none;
            }
            .login-form form a {
                color: #7a7a7a;
                text-decoration: none;
            }
            .login-form form a:hover {
                text-decoration: underline;
            }
            .form-control {
                padding-left: 2.375rem;
                padding-right: 2.375rem;
            }
            .icon-left {
                position: absolute;
                z-index: 2;
                display: block;
                width: 2.375rem;
                height: 2.375rem;
                line-height: 2.375rem;
                text-align: center;
                pointer-events: none;
                color: #aaa;
            }
            i {
                position: absolute;
                width: 2.375rem;
                height: 2.375rem;
                color: #aaa;
                right: 1.1875rem;
                bottom: 7.6rem;
            }
            i:hover {
                cursor: pointer;
            }
    .login-form
        form(method='POST')
            .avatar
                img(src='/images/damien.png', alt='Avatar')
            h2.text-center Bee Fashion
            .form-group
                span.fa.fa-user.icon-left
                input.form-control(type='text', name='username', placeholder='Tài khoản', required='required')
            .form-group
                span.fa.fa-lock.icon-left
                input#text-pass.form-control(type='password', name='password', placeholder='Mật khẩu', required='required')
                i.fa.fa-eye-slash
            .form-group
                button.btn.btn-primary.btn-lg.btn-block(type='submit') &Dstrok;&abreve;ng nh&#x1EAD;p
            .clearfix
                label.form-check-inline
                    input(type='checkbox')
                    | L&#x1B0;u m&#x1EAD;t kh&#x1EA9;u
                a.float-right(href='#') Qu&ecirc;n m&#x1EAD;t kh&#x1EA9;u?
    script.
        $(document).ready(function () {
            $('i').click(function () {
                if($('#text-pass').attr('type') === 'password') {
                    $('#text-pass').attr('type', 'text');
                    $('i').addClass('fa-eye');
                    $('i').removeClass('fa-eye-slash');
                }
                else if($('#text-pass').attr('type') === 'text') {
                    $('#text-pass').attr('type', 'password');
                    $('i').addClass('fa-eye-slash');
                    $('i').removeClass('fa-eye');
                }
            });
        });
