extends ../layouts/adminCommon
block content
    main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main')
        h2.mt-3.mb-3
            | Thông tin sản phẩm
            button.btn.btn-primary.ml-3 Thêm sản phẩm
        .table-responsive
            table.table.table-hover.table-sm
                tr
                    th STT
                    th Tên sản phẩm
                    th Danh mục
                    th Giá
                    th Khuyến mãi
                    th Nhà cung cấp
                    th Nội dung
                    th Hình ảnh
                tr
                    td 1
                    td Quần short
                    td 1
                    td 200000
                    td 5
                    td 1
                    td hihihih
                    td image
                    td
                        button.btn.btn-primary Sửa
                        button.btn.btn-danger Xóa