extends ../layouts/adminCommon
block content
    main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main')
        h2.mt-3.mb-3
            | Báo cáo doanh thu theo sản phẩm
        .table-responsive
            table.table.table-hover.table-sm
                tr
                    th STT
                    th Mã SP
                    th Tên SP
                    th Đã bán
                    th Tổng tiền
                tr
                    td 1
                    td MK01
                    td Áo thun
                    td 20
                    td 10000000
        h2.mt-3.mb-3
            | Báo cáo doanh thu theo tháng
        .table-responsive
            table.table.table-hover.table-sm
                tr
                    th Tháng
                    th Mã SP
                    th Tên SP
                    th Đã bán
                    th Tổng tiền
                tr
                    td 1
                    td MK01
                    td Áo thun
                    td 20
                    td 10000000