html
    head
        meta(charset='UTF-8')
        title Sakura Fashion Admin
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no', name='viewport')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        script(src='https://kit.fontawesome.com/14be88be6b.js', crossorigin='anonymous')
        base(href='/')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.0/css/all.css', integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ', crossorigin='anonymous')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200&display=swap')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='styles/admin.css')
    nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-0.shadow
        a.navbar-brand.col-sm-3.col-md-2.d-flex.justify-content-center(href='#') Bee Fashion
        .dropdown.mr-5.px-lg-5
            button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')= admin.username
            .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuButton')
                a.dropdown-item.text-white.cursor-hand#staffChangePass
                    span.fa.fa-unlock-alt.mr-2
                    | Đổi mật khẩu
                a.dropdown-item.text-white.cursor-hand#staffLogout
                    span.fa.fa-sign-out.mr-2
                    | Đăng xuất
    .container-fluid
        .row
            nav.col-md-2.d-none.d-md-block.bg-light.sidebar
                .sidebar-sticky
                    ul.nav.flex-column
                        li
                            a.nav-link.h6(href='/admin/dashboard')
                                i.fas.fa-tachometer-alt
                                |   Bảng điều khiển
                        li
                            a.nav-link.h6(href='/admin/invoice')
                                i.fas.fa-file-invoice-dollar
                                |   Đơn đặt hàng
                        li
                            a.nav-link.h6(href='/admin/product')
                                i.fas.fa-shopping-cart
                                |   Sản phẩm
                        li
                            a.nav-link.h6(href='/admin/user')
                                i.fas.fa-users
                                |   Khách hàng
                        li
                            a.nav-link.h6(href='/admin/staff')
                                i.fas.fa-user-cog
                                |   Nhân viên
                        li
                            a.nav-link.h6(href='/admin/report')
                                i.fas.fa-paste
                                |   Báo cáo
            block content
    script(src='https://code.jquery.com/jquery-3.4.1.min.js',crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    script(src='scripts/admin.js')
