extends layouts/common
block content
    .deal.mt-5.mb-5
        .container.align-items-start
            .col-12.col-md-4.text-light.p-5.mr-0
                h2 Deal siêu "khủng" trong tháng này
                p.mt-4.mb-4
                    | Những outfit "Siêu xịn xò" được giảm giá đặc biệt trong tháng dành cho những khách hàng thân thiết
                button.btn.btn-warning Săn ngay
    .bg-warning.d-flex.justify-content-center.border-bottom.border-white.mb-5.pb-3
        .container.text-light.bg-dark.mt-3.justify-content-center.align-items-center.m-0
            h1.mt-4.mb-4 Thời trang cuộc sống
            .row.justify-content-center
                .w-100
                .d-flex.col-12.col-md-4.justify-content-center
                    a(href='#')
                        figure.image-theme
                            img.img-fluid(src='/images/women-fashion-test.jpg', alt='women-fashion')
                            .img-cover.col-12.col-md-0
                            .title-theme
                                h4 Bộ sưu tập
                                span Thời trang nữ
                .d-flex.col-12.col-md-4.justify-content-center
                    a(href='#')
                        figure.image-theme
                            img.img-fluid(src='/images/men-fashion-test.jpg', alt='men-fashion')
                            .img-cover.col-12.col-md-0
                            .title-theme
                                h4 Bộ sưu tập
                                span Thời trang Nam
                .d-flex.col-12.col-md-4.justify-content-center
                    a(href='#')
                        figure.image-theme
                            img.img-fluid(src='/images/kid-fashion-test.png', alt='kid-fashion')
                            .img-cover.col-12.col-md-0
                            .title-theme
                                h4 Bộ sưu tập
                                span Thời trang trẻ em
    .d-flex.flex-column
        .text-center.text-white.bg-dark.mb-2
            h1 Trending
        .d-flex.justify-content-center
            .container.bg-warning.row.justify-content-center
                .col-12.col-md-4.row.mt-2.justify-content-center
                    .d-flex.flex-column.mt-2.bg-dark.p-1.text-white.text-center
                        img.img-fluid(src='/images/women-fashion-test.jpg')
                        a(href='#') Váy hoa
                        span Sản phẩm "Hot trend"
                        span 200.000
                .col-12.col-md-4.row.mt-2
                    .d-flex.flex-column.mt-2.bg-dark.p-1.text-white.text-center
                        img.img-fluid(src='/images/women-fashion-test.jpg')
                        a(href='#') Váy hoa
                        span Sản phẩm "Hot trend"
                        span 200.000
                .col-12.col-md-4.row.mt-2
                    .d-flex.flex-column.mt-2.bg-dark.p-1.text-white.text-center
                        img.img-fluid(src='/images/women-fashion-test.jpg')
                        a(href='#') Váy hoa
                        span Sản phẩm "Hot trend"
                        span 200.000
        .container.bg-warning.justify-content-center.align-items-center
            .row.justify-content-center.p-3
                button.btn.btn-dark.mr-4 Trái
                button.btn.btn-dark Phải
    .d-flex.justify-content-center.pt-4.pb-5
        .container.row.bg-warning.pt-4
            .col-12.col-md-7
                figure
                    img.img-fluid(src='/images/shopping.jpg')
            .col-12.col-md-5.bg-dark.text-center.mb-3
                div
                    h3.text-light.m-4 Những "bí quyết" mua hàng bỏ túi ngay
                    p.text-secondary Được chia sẽ bởi những khách hàng thân thiết
                    p.text-primary
                        | Kinh nghiệm mua hàng để bạn hiểu rõ hơn bản thân cần gì và những điều chưa biết về Bee fashion
                    button.btn.btn-warning.m-4 Tìm hiểu ngay