extends ../layouts/common
block content
    .container.mb-5.mt-5
        h1 Thông tin tài khoản
        .row.mt-5
            .col-6.col-md-4
                .d-flex.flex-row.justify-content-center.mt-5.mb-3
                    .Customer-Image.bg-warning.Scale-Trans.Box-Shadow-Around
                        img.Info-Cus-Image-Sc(src='images/Do Nam 1.jpg')
                        .Change-CusImg-Btn-State
                            .Change-CusImg-Btn.bg-white.rounded-circle.d-flex.justify-content-center.align-items-center
                                button.rounded-circle.border-0
                                    i.fas.fa-camera
                h3.text-center Ảnh đại diện
            .col-6.col-md-6.bg-dark.text-white.p-2
                .d-flex.mb-3.ml-3
                    .Info-Item Tên
                    div
                        input.form-control(type='text' value='Trần Hiệp Nguyên Huy' style={ width: '360px' })
                .d-flex.mb-3.ml-3
                    .Info-Item Giới tính
                    div
                        input(type='radio' name='gender' value='Male')
                        span.ml-1 Nam
                        input.ml-5(type='radio' name='gender' value='Female')
                        span.ml-1 Nữ
                        input.ml-5(type='radio' name='gender' value='Other')
                        span.ml-1 Khác
                .d-flex.mb-3.ml-3
                    .Info-Item Ngày sinh
                    div.form-group
                        input.form-control(type='date' name='birthday' max='2001-12-31'
                        min='1980-01-01')
                .d-flex.mb-3.ml-3
                    .Info-Item Địa chỉ
                    div Khóm 1, TT Mỹ An, Tháp Mười, Đồng Tháp
                        button.btn.btn-link.ml-3 Sửa
                .d-flex.mb-3.ml-3
                    .Info-Item Email
                    div
                        input.form-control(type='text' value='tranhiepnguyenhuy1999@gmail.com' style={ width: '360px' })
                .d-flex.mb-3.ml-3
                    .Info-Item Số điện thoại
                    div
                        input.form-control(type='text' value='0915330370' style={ width: '360px' })
                .d-flex.mb-3.ml-3
                    .Info-Item Tên tài khoản
                    div
                        input.form-control(type='text' value='tranhiepnguyenhuy' style={ width: '360px' })
                .d-flex-mb-3.ml-3
                    button.btn.btn-info
                        | Đổi mật khẩu
                    button.btn.btn-primary.float-right.mr-4
                        | Lưu