extends ../layouts/common
block content
    .container
        .row
            .col-6.col-md-3
                div
                    h4 Tìm kiếm theo loại
                    div
                        ul.List-Group
                            li
                                a.listCategory(href='#') Quần & áo
                            li
                                a(href='#') Balo & túi xách
                            li
                                a(href='#') Giày dép
                            li
                                a(href='#') Trang sức & phụ kiện
                div
                    h4.mb-3 Bộ lọc tìm kiếm
                    div
                        h5.mb-3 Kích thước
                        .d-flex.mb-3
                            span.Info-Item
                                input.mr-2(type='checkbox', name='')
                                | S
                            span
                                input.mr-2(type='checkbox', name='')
                                | M
                        .d-flex.mb-3
                            span.Info-Item
                                input.mr-2(type='checkbox', name='')
                                | L
                            span
                                input.mr-2(type='checkbox', name='')
                                | XL
                        h5.mb-3 Loại sản phẩm
                        div
                            input(type='checkbox', name='')
                            |  Đang khuyến mãi
                    div
            .col-12.col-md-9
                .row
                    h2.mr-3 Quần & áo
                .d-flex.justify-content-end.mb-2
                    label.mt-1 Sắp xếp theo:
                    select.ml-3.form-control.col-sm-3
                        option Giá từ thấp đến cao
                        option Giá từ cao đến thấp
                        option Từ A -> Z
                        option Ưu tiên khuyến mãi
                .container.border
                    .row.justify-content-around.p-2
                        .d-flex.flex-column.text-center.border.mb-2.mt-1.Box-Shadow-Around
                            a(href='#')
                                figure.Img-Product-Small.Scale-Trans
                                    img.Info-Product-Image-Sc(src='image/Do Nu 1.jpg')
                            a.badge.badge-primary.ml-5.mr-5(href='#') Đồ nữ
                            p 50000
                            div
                                input#1.checkforfun(type='checkbox', name='')
                                label(for='1')
                                    i.fa.fa-heart
                        .d-flex.flex-column.text-center.border.mb-2.mt-1.Box-Shadow-Around
                            a(href='#')
                                figure.Img-Product-Small.Scale-Trans
                                    img.Info-Product-Image-Sc(src='image/Do Nu 1.jpg')
                            a.badge.badge-primary.ml-5.mr-5(href='#') Đồ nữ
                            p 50000
                            div
                                input#2.checkforfun(type='checkbox', name='')
                                label(for='2')
                                    i.fa.fa-heart
                        .d-flex.flex-column.text-center.border.mb-2.mt-1.Box-Shadow-Around
                            a(href='#')
                                figure.Img-Product-Small.Scale-Trans
                                    img.Info-Product-Image-Sc(src='image/Do Nu 1.jpg')
                            a.badge.badge-primary.ml-5.mr-5(href='#') Đồ nữ
                            p 50000
                            div
                                input#3.checkforfun(type='checkbox', name='')
                                label(for='3')
                                    i.fa.fa-heart
                        .d-flex.flex-column.text-center.border.mb-2.mt-1.Box-Shadow-Around
                            a(href='#')
                                figure.Img-Product-Small.Scale-Trans
                                    img.Info-Product-Image-Sc(src='image/Do Nu 1.jpg')
                            a.badge.badge-primary.ml-5.mr-5(href='#') Đồ nữ
                            p 50000
                            div
                                input#4.checkforfun(type='checkbox', name='')
                                label(for='4')
                                    i.fa.fa-heart
                        .d-flex.flex-column.text-center.border.mb-2.mt-1.Box-Shadow-Around
                            a(href='#')
                                figure.Img-Product-Small.Scale-Trans
                                    img.Info-Product-Image-Sc(src='image/Do Nu 1.jpg')
                            a.badge.badge-primary.ml-5.mr-5(href='#') Đồ nữ
                            p 50000
                            div
                                input#5.checkforfun(type='checkbox', name='')
                                label(for='5')
                                    i.fa.fa-heart
