extends ../layouts/common
block content
    .mt-3
        h1.ml-5.mb-5 Về chúng tôi
    .container
        .row
            .col-12
                center
                    b Đồ án môn học Công nghệ web và ứng dụng