extends ../layouts/common
block content
    .mt-3
        h1.ml-5.mb-5 Bí quyết mua hàng
    .container
        .row
            .col-12
                ol
                    li.h3.mb-5
                        h3 Chọn thời điểm
                        p.h6 Bí quyết mua sắm online giá rẻ quan trọng nhất là biết mua ở đâu và mua khi nào. Khi mua sắm đúng cửa hàng và đúng thời điểm, bạn có thể có được nhiều khuyến mãi và ưu đãi rất hấp dẫn.
                        p.h6 Thông thường, các cửa hàng online sẽ có các chương trình giảm giá mạnh hay khuyến mãi vào các dịp lễ, Tết, Giáng sinh, Quốc tế Phụ nữ… Ngoài ra, nhiều nghiên cứu chỉ ra rằng tháng 11 và tháng 1 là những tháng có nhiều khuyến mãi nhất. Trong một tuần thì thứ 3 đến thứ 5 là thời điểm tốt nhất để mua sắm online giá rẻ và Chủ nhật là ngày bạn nên tránh mua hàng.
                        p.h6 Các thương hiệu nhỏ và mới cũng thường có nhiều chiến dịch giảm giá, khuyến mãi hơn so với các thương hiệu lớn. Tuy nhiên, bạn nên tìm hiểu kỹ về thông tin và độ uy tín của các thương hiệu này trước khi mua nhé.
                    li.h3.mb-5
                        h3 Trò chuyện với người bán
                        p.h6 Các trang mua sắm online thường có công cụ để bạn có thể trò chuyện trực tuyến với nhân viên tư vấn bán hàng, nhưng người mua hàng online thường ít khi chú ý đến công cụ này.
                        p.h6 Để mua sắm online giá rẻ, bạn nên tận dụng chức năng trò chuyện với người bán để xin tư vấn thông tin sản phẩm mình cần mua. Đôi khi, bạn còn có thể thuyết phục người bán hàng giảm giá hay khuyến mãi cho mình để mua được sản phẩm ưng ý với giá rẻ hơn.
                    li.h3.mb-5
                        h3 Xem kĩ thông tin sản phẩm trước khi mua
                        p.h6 Bạn có thể tìm thấy nhiều sản phẩm khi mua sắm online nhưng đôi khi rất khó để đưa ra quyết định sản phẩm nào là phù hợp với mình nhất và nên mua kích cỡ, màu sắc nào. Để đảm bảo mua được sản phẩm mình mong muốn, bạn nên xem thật kỹ thông tin sản phẩm từ chất liệu, kiểu dáng, kích cỡ đến màu sắc.
                        p.h6 Bạn cần đặc biệt lưu ý đến kích cỡ khi mua quần áo hay giày dép trực tuyến. Nếu cần, bạn có thể tận dụng hướng dẫn cách chọn kích cỡ và hệ thống hỗ trợ thử đồ online của các cửa hàng để tìm ra kích cỡ vừa vặn với mình.
                    li.h3.mb-5
                        h3 Kiên nhẫn tìm sản phẩm phù hợp
                        p.h6 Để có thể đảm bảo mua được sản phẩm mình mong muốn với chất lượng tốt và giá thành phải chăng nhất thì bạn cần thật kiên nhẫn khi mua sắm online. Bí quyết để mua sắm online giá rẻ là ghi ra danh sách các sản phẩm mà bạn muốn mua, sau đó tìm kiếm sản phẩm đó ở một vài trang bán hàng khác nhau.
                        p.h6 Khi tìm kiếm sản phẩm ở nhiều trang bán hàng khác nhau, bạn có thể tìm được trang đang có chương trình giảm giá, ưu đãi… tại thời điểm bạn muốn mua sản phẩm. Hơn nữa, bạn cũng có thể so sánh kiểu dáng, chất lượng, thông tin sản phẩm cũng như giá thành giữa các trang để có sự lựa chọn tốt nhất.