extends ../layouts/common
block content
    .mt-3
        h1.ml-5.mb-5 Chính sách vận chuyển
    .container
        .row
            .col-12
                h4 Phương thức giao hàng
                p Để thuận tiện cho quý khách trong quá trình mua sắm, Sakura Store thực hiện chính sách giao hàng như sau:
                br
                ul
                    li
                        h4 Phí vận chuyển
                        ul
                            li Phí vận chuyển cố định 20000đ toàn quốc
                    li
                        h4 Thời gian giao hàng
                        ul
                            li Thành phố Hồ Chí Minh và các tỉnh lân cận: từ 1-3 ngày.
                            li Khu vực khác trên cả nước: từ 3-7 ngày.

                center
                    b Lưu ý: Các đơn hàng sau 17h sẽ được duyệt vào ngày làm việc sau đó